.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  float: left;
  margin-top: 30px;
}

.App-banner {
  float: right;
  margin-top: -10px;
}

.App-header {
  background-color: #bcf6f9;
  height: 150px;
  padding: 20px;
  color: #000
;
}

.App-title {
  font-size: 2em;
  margin-top: 60px;
}

.App-intro {
  font-size: large;
  margin-top: 80px;
}

.dropdown-class {
  text-align: left
}

.form-save {
  margin-top: 40px;
}

.grid-control{
  margin: 10px 0;
}

.last-grid {
  margin-top: 10px;
  margin-bottom: 40px
}

.select-class {
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
