.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  width: 250px;
  float: left;
}

.App-banner {
  float: right;
  height: 120px;
  width: 245px;
}

.App-header {
  background-color: #94BDF0;
  height: 120px;
  padding: 20px;
  color: #000
;
}

.App-title {
  font-size: 2em;
  margin-top: 40px;
}

.App-intro {
  font-size: large;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #E0DBDB;
  height: 76vh;
}

.dropdown-class {
  text-align: left
}

.form-save {
  margin-top: 40px;
}

.grid-control{
  margin: 10px 0;
}

.last-grid {
  margin-top: 10px;
  margin-bottom: 30px
}

.select-class {
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
  width: 250px
}

.response-result{
  text-align: center;
  margin-top: 35px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}