.App {
  text-align: center;
}

.App-logo {
  height: 158px;
  float: left;
}

.App-banner {
  float: right;
  margin-top: -10px;
}

.App-header {
  background-color: #bcf6f9;
  height: 150px;
  padding: 20px;
  color: #000
;
}

.App-title {
  font-size: 2em;
  margin-top: 60px;
}

.App-intro {
  font-size: large;
  padding-top: 80px;
  background-image: url('./resources/govhack-logo.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #fffeea;
  height: 70vh;
}

.dropdown-class {
  text-align: left
}

.form-save {
  margin-top: 40px;
}

.grid-control{
  margin: 10px 0;
}

.last-grid {
  margin-top: 10px;
  margin-bottom: 40px
}

.select-class {
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
  width: 250px
}

.response-result{
  text-align: center;
  margin-top: 65px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
